* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #384800;
}

h1{
    font-size: 36px;
    font-weight: 600;
    color: #ff9801;
    text-align: center;
    margin: 70px 10px 70px 10px;
}

h2{
    font-size: 27px;
    font-weight: 600;
    margin-top: 40px;
}

section{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.sobre_fic{
    display: flex;
    text-align: justify;
    margin-top: 20px;
}

.sobre_mulher_empreen{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.logo_mulher_empreen{
    width: 900px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-indent: 25px;
    transition: transform 0.3s ease;
}

.logo_mulher_empreen:hover{
    transform: scale(1.01);
    z-index: 0;
}

div p{
    padding: 10px;
    width: 900px;
    text-align: justify;
}

ol{
    padding-left: 40px;
    width: 900px;
}

li{
    margin-bottom: 10px;
}


.img_logo_mulher_empreen{
    background-image: url(/imagens/ProjMulheresEmpreend-Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    justify-items: center;
    margin-top: 120px;
    margin-right: 20px;
    
}

.sobre_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.txt_logo{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.txt_logo p{
    width: fit-content;
}

.fotos_img{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
    margin: 20px;
    justify-content: center;
}

.fic_img{
    border: solid #384800;
    height: 200px;
    width: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    align-items: start;
}

#fic_img1{
    background-image: url(/imagens/img_abert_fic.jpg);
}

#fic_img2{
    background-image: url(/imagens/img_aula_fic.jpg);
}

#fic_img3{
    background-image: url(/imagens/img_eva_fic.jpg);
}

#fic_img4{
    background-image: url(/imagens/img_cestas_fic.jpg);
}

#fic_img5{
    background-image: url(/imagens/img_cestas_fic2.jpg);
}

#fic_img6{
    background-image: url(/imagens/img_formatura_fic.jpg);
}

.fotos_img .fic_img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 0;
}

