h1{
    font-size: 32px;
    font-weight: 600;
    color: #ff9801;
    text-align: center;
    margin: 35px;
}

h2{
    font-size: 27px;
    font-weight: 600;
}

section{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.sobre_fic{
    display: flex;
    text-align: justify;
}

.sobre_mulher_empreen{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.logo_mulher_empreen{
    width: 900px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

div p{
    margin: 10px;
    width: 900px;
}

ol{
    padding-left: 40px;
    width: 900px;
}

li{
    margin-bottom: 10px;
}


.img_logo_mulher_empreen{
    background-image: url(/imagens/ProjMulheresEmpreend-Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    justify-items: center;
    margin-top: 120px;
    margin-right: 20px;
    
}

.sobre_logo{
    display: flex;
    flex-direction: row;
}

.txt_logo{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.txt_logo p{
    width: fit-content;
}

hr{
    background-color: #384800;
    height: 3px;
    margin: 25px -30px;
}

.fotos_img{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
    margin: 20px;
    justify-content: center;
}

.fic_img{
    border: solid #384800;
    height: 250px;
    width: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    align-items: start;
}

#fic_img1{
    background-image: url(/imagens/img_abert_fic.jpg);
}

#fic_img2{
    background-image: url(/imagens/img_aula_fic.jpg);
}

#fic_img3{
    background-image: url(/imagens/img_eva_fic.jpg);
}

#fic_img4{
    background-image: url(/imagens/img_cestas_fic.jpg);
}

#fic_img5{
    background-image: url(/imagens/img_cestas_fic2.jpg);
}

#fic_img6{
    background-image: url(/imagens/img_formatura_fic.jpg);
}

.fotos_img .fic_img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: -1;
}

.img_logo_mulher_empreen:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: -1;
}