* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

h1{
    font-size: 36px;
    font-weight: 600;
    color: #ff9801;
    text-align: center;
    margin: 70px 10px 90px 10px;
}

h2{
    font-size: 27px;
    font-weight: 600;
}

section{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.sobre_mil{
    flex-direction: column;

}

.hist{
    background: #fff;
    margin: 20px -30px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-indent: 25px;
    transition: transform 0.3s ease;
}

.hist:hover{
    transform: scale(1.01);
    z-index: 0;
}

div p{
    margin: 10px;
    width: 900px;
    text-align: justify;
}

