h1{
    font-size: 40px;
    font-weight: 600;
    color: #ff9801;
    text-align: center;
    margin: 30px;
}

h2{
    font-size: 27px;
    font-weight: 600;
}

section{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.hist{
    background: #fff;
    margin: 15px 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-indent: 25px;
    transition: transform 0.3s ease;
}

.hist:hover{
    transform: scale(1.01);
    z-index: 0;
}

div p{
    margin: 10px;
    width: 900px;
    text-align: justify;
}

hr{
    background-color: #384800;
    height: 4px;
    margin: 40px -30px;
}

