@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #384800;
}

body {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.cabecalho {
    background-color: #DFB7FE;
    display: flex;
    justify-content: space-between;
    height: 120px;
    z-index: 1;
}

#logo {
    height: 95px;
    padding-left: 20px;
    margin-top: 10px;
}

#menu-imagem {
    height: 43px;
}

#menu-botao {
    background-color: rgba(0, 0, 128, 0);
    border: 0;
    padding-right: 20px;
}

#menu-botao:hover{
    cursor: pointer;
}

#banner {
    background-image: url(../imagens/LabSol-banner.png);
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.slider{
    margin: 0 auto;
		width: 800px;
		height: 400px;
		overflow: hidden;
}
.slides{
	width: 400%;
	height: 400px;
	display: flex;
}
.slides input{
	display: none;
}
.slide{
	width: 25%;
	position: relative;
	transition: 1s;
}
.slide img{
	width: 800px;
}

.manual-navigation{
	position: absolute;
	width: 800px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
.manual-btn{
	border: 2px solid grey;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;

}
.manual-btn:not(:last-child){
	margin-right: 40px;
}
.manual-btn:hover{
	background-color: grey;
}
#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -25%;
}
#radio3:checked ~ .first{
	margin-left: -50%;
}
#radio4:checked ~ .first{
	margin-left: -75%;
}

.navigation-auto{
	position: absolute;
	width: 800px;
	margin-top: 360px;
	display: flex;
	justify-content: center;

}
.navigation-auto div:not(:last-child){
	margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
	background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
	background-color: white;
}




footer{
    background-color: #DFB7FE;
    height: 180px;
    text-align: center;
}

footer img {
    max-width: 200px; 
    margin-top: 30px; 
}

footer p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
}

.div-imagem:last-of-type{
    margin-bottom: 90px;
}

/*MENU*/
.menu-aberto{
    width: 300px !important;
}

.menu-fechado{
    width: 0;
}

.corpo-menu-aberto{
    margin-right: 300px;
}

.corpo-menu-fechado{
    margin-right: 0px;
}

.itens-menu {
    margin-top: 30px;
    text-align: center !important;
}

.itens-menu a {
    padding: 8px 8px 8px 8px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #DFB7FE;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
  }
  

  .sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #384800;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #749307;
  }
  
  #corpo {
    transition: margin-left .5s;
    padding: 20px;
  }

  .closebtn {
    padding: 8px 38px 8px 8px;
    font-size: 40px !important;
    text-align: right !important;
  }

  /*CABEÇALHO QUE GRUDA*/
  .conteudo {
    padding: 0px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .sticky+.conteudo {
    transition: 0.7s;
    padding-top: 102px;
  }

/*---------------------------------------------------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background-color: #fff5d2;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

#sobre-text{
    padding: 20px;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 20px;
}

p {
    text-indent: 25px;
}

h2 {
    border-bottom: 2px solid #DFB7FE;
    padding-bottom: 5px;
    font-weight: bold;
}

#lista-topicos {
    list-style: none;
    padding: 0;
}

#lista {
    list-style: disc;
}

#list {
    padding-bottom: 8px;
}

#info {
    background: #fff;
    margin: 15px 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-indent: 25px;
    transition: transform 0.3s ease;
}

#info:hover{
    transform: scale(1.05);
    z-index: 5;
}
