

/*Celulares*/
@media screen and (max-width: 600px) {
    *{
        font-size: 12px;
    }
    .cabecalho {
        height: 80px;
    }

    #logo {
        height: 65px;
        padding-left: 20px;
        margin-top: 8px;
    }

    #banner{
        height: 230px;
    }

    .texto {
        width: 300px;
    }
    
    .texto h2{
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .container-imagem{
        width: 300px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 20px;
        
    }

    .container-imagem img {
        width: 280px;
        height: auto;
    }

    footer{
        height: 80px;
        margin-top: 40px;
    }

}