@media screen and (max-width: 1000px ) {
    *{
        font-size: 16px;
    }
    .cabecalho {
        height: 80px;
    }

    #logo {
        height: 65px;
        padding-left: 20px;
        margin-top: 8px;
    }

    section{
        align-content: center;
        justify-items: center; 
        width: 90%;    
    }

    .sobre_fic{
        width: 80%;
    }

    .sobre_mil{
        display: flex;
        text-align: justify;
        margin-top: 20px
    }

    .hist{
        width: 90% !important;
    }

    .hist p{
        width: 90% !important;
    }

    div{
        width: 80%;
    }

    div p{
        width: 100%;
    }

    h1{
        font-size: 30px;
        margin: 40px;
    }

    h2{
        font-size: 28px;
        margin-left: 10px;
    }
    
    /* RODAPÉ */
    footer{
        height: 100px;
        margin-top: 40px;
    }

    footer p {
        margin-top: 10px;
        font-size: 15px !important;
        padding-right: 20px;
    }

    footer img {
        margin-top: 10px;
        max-width: 120px;
    }

    
    /*MENU*/
    .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
        padding-left: 100px;
    }

    .menu-fechado{
        width: 0;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
    }

    .itens-menu a{
        font-size: 27px;
        padding: 25px;
    }

    .closebtn {
        font-size: 50px !important;
        margin-right: -130px;
    }

    .sidebar a{
        margin-top: -30px;
    }

    .itens-menu{
        width: 600px;
    }

    .itens-menu a{
        width: 500px;
        padding-bottom: 60px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 650px) {
    *{
        font-size: 12px !important;
    }

    .cabecalho {
        height: 80px !important;
        top: 0;
        width: 100%;
    }

    #logo {
        height: 65px !important;
        padding-left: 20px;
        margin-top: 8px;
    }


    #menu-botao{
        height: 65px !important;
    }

    div{
        width: 90%;
        position: center;
    }

    div p{
        width: 90%;
    }

    h1{
        font-size: 20px !important;
        margin: 30px 20px 20px 20px;
    }
    h2{
        font-size: 18px !important;
        margin-left: 0px;
    }

    section{
        align-items: center;
        justify-items: center;
        width: 90%;
    }

    .hist{
        width: 90% !important;
    }

    .hist p{
        width: 90% !important;
        font-size: 12px;
    }

    /* RODAPÉ */
    footer{
        height: 100px;
        margin-top: 40px;
    }

    footer p {
        margin-top: 10px;
        font-size: 10px !important;
        padding-right: 20px;
    }

    footer img {
        margin-top: 10px;
        max-width: 120px;
    }

    
     /*MENU*/
     .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
        padding-left: 30px;
    }

    .menu-fechado{
        width: 0;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
        
    }

    .itens-menu a{
        font-size: 27px;
        padding: 25px;
    }

    .closebtn {
        font-size: 50px !important;
        margin-right: -90px;
    }

    .sidebar a{
        margin-top: -30px;
        padding-right: 90px;
    }

    .itens-menu{
        width: 400px;
    }

    .itens-menu a{
        width: 350px;
        padding-left: 0px;
    }

}

