@media screen and (max-width: 1000px ) {
    *{
        font-size: 20px;
    }

    .cabecalho {
        height: 80px;
    }

    #logo {
        height: 65px;
        padding-left: 20px;
        margin-top: 8px;
    }

    div p{
        width: 600px;
    }
    
    h1{
        font-size: 30px;
        margin: 40px;
    }

    h2{
        font-size: 28px;
        margin-left: 10px;
    }

    section{
        align-content: center;
        align-items: center;
    }

    div{
        width: 600px;
    }

    li{
        font-size: 20px;
    }
    
    ol{
        width: 97%;
    }

    .logo_mulher_empreen{
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fotos_img{
        grid-template-columns: repeat(1, auto);
    }

    .sobre_logo{
        display: flex;
        flex-direction: column;
        width: 600px;
        align-items: center;
    }

    .img_logo_mulher_empreen {
        width: 80%;
        height: 400px;
        margin: 50px 0px;
    }

    footer{
        height: 270px;
        margin-top: 40px;
    }

    footer p {
        margin-top: 10px;
        font-size: 10px;
    }

    footer img {
        margin-top: 10px;
        max-width: 120px;
    }

    
    /*MENU*/
    .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
        padding-left: 100px;
    }

    .menu-fechado{
        width: 0;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
    }

    .itens-menu a{
        font-size: 27px;
        padding: 25px;
    }

    .closebtn {
        font-size: 50px !important;
        margin-right: -80px;
    }

    .sidebar a{
        margin-top: -30px;
    }

    .itens-menu{
        width: 600px;
    }

    .itens-menu a{
        width: 500px;
        padding-bottom: 60px;
        padding-left: 0px;
    }
}


@media screen and (max-width: 650px) {

    *{
        font-size: 12px !important;
    }
    
    .cabecalho {
        height: 80px !important;
        top: 0;
        width: 100% !important ;
    }

    #logo {
        height: 65px !important;
        padding-left: 20px;
        margin-top: 8px;
    }

    div{
        width: 100%;
        position:center;
    }

    div p{
        width: 100%;
    }

    h1{
        font-size: 20px !important;
        margin: 30px 20px 20px 20px;
    }

    h2{
        font-size: 18px !important;
        margin-left: 0;
    }

    section{
        align-items: center;
        justify-items: center;       
    }

    li{
        font-size: 12px;
        width: 100%;
    }
    
    ol{
        width: 97%;
        padding-left: 40px;
    }

    .txt_logo{
        width: 80%;
    }

    .txt_logo p{
        width: 100%;
    }

    .logo_mulher_empreen{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0px;
    }
    

    .fotos_img{
        grid-template-columns: repeat(1, auto);
    }

    .sobre_logo{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .img_logo_mulher_empreen {
        width: 60%;
        height: 200px;
        margin: 20px 0px;
    }

    .fic_img{
        width: 300px;
        height: 150px;
    }
    
    /*MENU*/
    .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
        padding-left: 30px;
    }

    .menu-fechado{
        width: 0;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
        
    }

    .itens-menu a{
        font-size: 27px;
        padding: 25px;
    }

    .closebtn {
        font-size: 50px !important;
        margin-right: -90px;
    }

    .sidebar a{
        margin-top: -30px;
        padding-right: 120px;
    }

    .itens-menu{
        width: 400px;
    }

    .itens-menu a{
        width: 350px;
        padding-left: 0px;
    }

    /* rodapé */
    footer{
        height: 100px;
        margin-top: 40px;
    }

    footer p {
        margin-top: 10px;
        font-size: 10px;
        padding-right: 20px;
    }

    footer img {
        margin-top: 10px;
        max-width: 120px;
    }

}

@media screen and (max-width: 460px) {
    .img_logo_mulher_empreen {
        width: 50%;
        height: 80px;
    }

}