@media screen and (max-width: 1000px ) {
    *{
        font-size: 16px;
    }
    .cabecalho {
        height: 80px;
    }

    #logo {
        height: 65px;
        padding-left: 20px;
        margin-top: 8px;
    }

    div p{
        width: 600px;
    }
    
    hr{
        margin: 20px 10px;
    }

   h1{
        font-size: 20px;
        margin: 20px;
    }

    h2{
        font-size: 18px;
        margin-left: 10px;
    }

    footer{
        height: 100px;
        margin-top: 40px;
    }

    footer p {
        margin-top: 10px;
        font-size: 10px;
    }

    footer img {
        margin-top: 10px;
        max-width: 120px;
    }

    
    /*MENU*/
    .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
    }

    .menu-fechado{
        width: 0;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
    }

    .itens-menu a{
        font-size: 27px;
        padding: 25px;
    }

    .closebtn {
        font-size: 50px !important;
    }

    .sidebar a{
        margin-top: -25px;
    }
}

@media screen and (max-width: 600px) {
    *{
        font-size: 12px;
    }
    .cabecalho {
        height: 80px;
    }

    #logo {
        height: 65px;
        padding-left: 20px;
        margin-top: 8px;
    }

    div p{
        width: 290px;
    }
    
    hr{
        margin: 20px 10px;
    }

   h1{
        font-size: 16px;
        margin: 20px;
    }

    h2{
        font-size: 14px;
        margin-left: 10px;
    }

    footer{
        height: 100px;
        margin-top: 40px;
    }

    footer p {
        margin-top: 10px;
        font-size: 10px;
    }

    footer img {
        margin-top: 10px;
        max-width: 120px;
    }

    
    /*MENU*/
    .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
    }

    .menu-fechado{
        width: 0;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
    }

    .itens-menu a{
        font-size: 27px;
        padding: 25px;
    }

    .closebtn {
        font-size: 50px !important;
    }

    .sidebar a{
        margin-top: -25px;
    }
}

