
/*Celulares pequenos*/
@media screen and (max-width: 300px){
    *{
        font-size: 12px;
    }
    .cabecalho {
        height: 80px;
    }

    #menu-imagem{
        width: 35px;
    }

    #logo {
        height: 55px;
        padding-left: 10px;
        margin-top: 10px;
    }

    #banner{
        height: 160px;
    }

    .texto {
        width: 200px;
    }
    
    .texto h2{
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .container-imagem{
        width: 200px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 20px;
        
    }

    .container-imagem img {
        width: 190px;
        height: auto;
    }

    .div-imagem:last-of-type{
        margin-bottom: 20px;
    }

    footer{
        height: 120px;
        margin-top: 40px;
    }

    footer p {
        margin-top: 10px;
        font-size: 10px;
    }

    footer img {
        margin-top: 10px;
        max-width: 120px;
    }

    /*MENU*/
    .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
    }

    .menu-fechado{
        width: 0;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
    }

    .itens-menu a{
        font-size: 21px;
        padding: 20px;
    }

    .closebtn {
        font-size: 45px !important;
        margin-right: -15px;
    }

    .sidebar a{
        margin-top: -25px;
    }

}

/*Celulares*/
@media screen and (max-width: 500px) and (min-width: 300px) {
    *{
        font-size: 12px;
    }
    .cabecalho {
        height: 80px;
    }

    #logo {
        height: 65px;
        padding-left: 20px;
        margin-top: 8px;
    }

    #banner{
        height: 220px;
    }

    .texto {
        width: 300px;
    }
    
    .texto h2{
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .container-imagem{
        width: 300px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 20px;
        
    }

    .container-imagem img {
        width: 280px;
        height: auto;
    }

    .div-imagem:last-of-type{
        margin-bottom: 20px;
    }

    footer{
        height: 100px;
        margin-top: 40px;
    }

    footer p {
        margin-top: 10px;
        font-size: 10px;
    }

    footer img {
        margin-top: 10px;
        max-width: 120px;
    }

    /*MENU*/
    .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
    }

    .menu-fechado{
        width: 0;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
    }

    .itens-menu a{
        font-size: 27px;
        padding: 25px;
    }

    .closebtn {
        font-size: 50px !important;
    }

    .sidebar a{
        margin-top: -25px;
    }

}

/*Celulares*/
@media screen and (max-width: 600px) and (min-width: 500px) {
    *{
        font-size: 12px;
    }
    .cabecalho {
        height: 80px;
    }

    #logo {
        height: 65px;
        padding-left: 20px;
        margin-top: 8px;
    }

    #banner{
        height: 270px;
    }

    .texto {
        width: 400px;
    }
    
    .texto h2{
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .container-imagem{
        width: 400px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 20px;
        
    }

    .container-imagem img {
        width: 380px;
        height: auto;
    }

    .div-imagem:last-of-type{
        margin-bottom: 20px;
    }

    footer{
        height: 100px;
        margin-top: 40px;
    }

    footer p {
        margin-top: 10px;
        font-size: 10px;
    }

    footer img {
        margin-top: 10px;
        max-width: 120px;
    }

    /*MENU*/
    .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
    }

    .menu-fechado{
        width: 0;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
    }

    .itens-menu a{
        font-size: 27px;
        padding: 25px;
    }

    .closebtn {
        font-size: 50px !important;
    }

    .sidebar a{
        margin-top: -25px;
    }

}

/*Tablets*/
@media screen and (max-width: 800px) and (min-width: 700px){
    .texto{
        width: 650px;
    }
    .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
    }

    .itens-menu a{
        font-size: 27px;
        padding: 30px;
    }

    #banner {
        height: 420px;
    }

    .container-imagem{
        width: 650px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 30px;
        
    }

    .container-imagem img {
        width: 620px;
        height: auto;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
    }
}

/*Tablets*/
@media screen and (max-width: 900px) and (min-width: 800px){
    .texto{
        width: 720px;
    }
    .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
    }

    .itens-menu a{
        font-size: 27px;
        padding: 30px;
    }

    #banner {
        height: 420px;
    }

    .container-imagem{
        width: 720px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 30px;
        
    }

    .container-imagem img {
        width: 680px;
        height: auto;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
    }
}

/*Tablets maiores*/
@media screen and (max-width: 1100px) and (min-width: 910px){
    .texto{
        width: 800px;
    }
    .menu-aberto{
        width: 100% !important;
        opacity: 0.9;
    }

    .itens-menu a{
        font-size: 30px;
        padding: 30px;
    }

    #banner {
        height: 550px;
    }

    .container-imagem{
        width: 800px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 30px;
        
    }

    .container-imagem img {
        width: 780px;
        height: auto;
    }

    /*Menu*/
    .closebtn{
        font-size: 60px !important;
        margin-right: -25px;
        margin-top: -15px;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
    }
}

/*Monitores grandes*/
@media screen and (min-width: 1800px) {
    *{
        font-size: 22px;
    }
    .cabecalho {
        height: 140px;
    }

    #logo {
        height: 110px;
        padding-left: 30px;
        margin-top: 15px;
    }

    #menu-imagem {
        height: 52px;
    }

    #banner{
        height: 1000px;
    }

    .texto {
        width: 1000px;
    }
    
    .texto h2{
        font-size: 32px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .container-imagem{
        width: 1000px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 20px;
        
    }

    .container-imagem img {
        width: 830px;
        height: auto;
    }

    .div-imagem:last-of-type{
        margin-bottom: 20px;
    }

    footer{
        height: 160px;
        margin-top: 40px;
    }

    footer p {
        margin-top: 10px;
        font-size: 18px;
    }

    footer img {
        margin-top: 10px;
        max-width: 240px;
    }

    /*MENU*/
    .menu-aberto{
        width: 500px !important;
    }

    .menu-fechado{
        width: 0;
    }

    .corpo-menu-aberto{
        margin-right: 0px;
    }

    .itens-menu a{
        font-size: 30px;
        padding: 25px;
    }

    .closebtn {
        font-size: 50px !important;
    }

    .corpo-menu-aberto{
        margin-right: 300px;
    }
    
    .corpo-menu-fechado{
        margin-right: 0px;
    }

}